<a href="https://colab.research.google.com/github/shivasrinivasaraopinnamaneni/info5731-fall2021/blob/main/In_class_exercise_05_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fifth in-class-exercise (40 points in total, 11/11/2021)**

(20 points) The purpose of the question is to practice different machine learning algorithms for text classification as well as the performance evaluation. In addition, you are requried to conduct *10 fold cross validation (https://scikit-learn.org/stable/modules/cross_validation.html)* in the training. 

The dataset can be download from here: https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise09_datacollection.zip. The dataset contains two files train data and test data for sentiment analysis in IMDB review, it has two categories: 1 represents positive and 0 represents negative. You need to split the training data into training and validate data (80% for training and 20% for validation, https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6) and perform 10 fold cross validation while training the classifier. The final trained model was final evaluated on the test data. 

Algorithms:

(1) MultinominalNB

(2) SVM 

(3) KNN 

(4) Decision tree

(5) Random Forest

(6) XGBoost

Evaluation measurement:

(1) Accuracy

(2) Recall

(3) Precison 

(4) F-1 score

In [52]:
import pandas as pd 
import re 
import nltk 
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer 
from sklearn.feature_extraction.text import CountVectorizer 
  
dataset = pd.read_csv("stsa-train.txt", sep='delimiter', header=None) 
#dataset              
dataset = pd.DataFrame(dataset) 
dataset.columns = ["Text"] 
dataset['Reviews'] = dataset['Text'].str.split(' ').str[0]
dataset['Text'] = dataset['Text'].str.split(n=1).str[1]
dataset

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

                                                   Text Reviews
0     a stirring , funny and finally transporting re...       1
1     apparently reassembled from the cutting-room f...       0
2     they presume their audience wo n't sit still f...       0
3     this is a visually stunning rumination on love...       1
4     jonathan parker 's bartleby should have been t...       1
...                                                 ...     ...
6915  painful , horrifying and oppressively tragic ,...       1
6916  take care is nicely performed by a quintet of ...       0
6917  the script covers huge , heavy topics in a bla...       0
6918  a seriously bad film with seriously warped log...       0
6919  a deliciously nonsensical comedy about a city ...       1

[6920 rows x 2 columns]

In [56]:
dataset_test = pd.read_csv("/content/stsa-test.txt", sep='delimiter', header=None)        
dataset_test = pd.DataFrame(dataset_test) 
dataset_test.columns = ["Text"] 
dataset_test['Reviews'] = dataset_test['Text'].str.split(' ').str[0]
#dataset  
dataset_test['Text'] = dataset_test['Text'].str.split(n=1).str[1]
dataset_test

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

                                                   Text Reviews
0        no movement , no yuks , not much of anything .       0
1     a gob of drivel so sickly sweet , even the eag...       0
2     gangs of new york is an unapologetic mess , wh...       0
3     we never really feel involved with the story ,...       0
4               this is one of polanski 's best films .       1
...                                                 ...     ...
1816  an often-deadly boring , strange reading of a ...       0
1817  the problem with concept films is that if the ...       0
1818  safe conduct , however ambitious and well-inte...       0
1819  a film made with as little wit , interest , an...       0
1820  but here 's the real damn : it is n't funny , ...       0

[1821 rows x 2 columns]

In [57]:
#Cleaning the data, 
nltk.download('stopwords') 
  
corpus_train = [] 
corpus_test = []
  
for i in range(0, 6920): 
    text = re.sub('[^a-zA-Z]', '', dataset['Text'][i]) 
    text = text.lower() 
    text = text.split() 
    ps = PorterStemmer() 
    text = ''.join(text) 
    corpus_train.append(text)

for i in range(0, 1821): 
    text = re.sub('[^a-zA-Z]', '', dataset_test['Text'][i]) 
    text = text.lower() 
    text = text.split() 
    ps = PorterStemmer() 
    text = ''.join(text) 
    corpus_test.append(text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [58]:
cv = CountVectorizer(max_features = 1500) 
  
X = cv.fit_transform(corpus_train).toarray() 
y = dataset.iloc[:, 1].values

print(y)

['1' '0' '0' ... '0' '0' '1']

In [59]:
# splitting the data set into training set and validation set 
from sklearn.model_selection import train_test_split 
  
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state = 123)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=123)

In [60]:
#1.MultinomialNB

# fitting naive bayes to the training set 
import sklearn.metrics as metrics 
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
model = classifier.fit(X_train, y_train)

In [15]:
#For calculating the cross-validation scores
from sklearn.model_selection import cross_val_score
scores = cross_val_score(classifier, X_test, y_test, cv=10)
#Printing the scores
print("multinomialNB",scores.mean())

multinomialNB 0.5296215201751643

(20 points) The purpose of the question is to practice different machine learning algorithms for text clustering
Please downlad the dataset by using the following link.  https://www.kaggle.com/PromptCloudHQ/amazon-reviews-unlocked-mobile-phones
(You can also use different text data which you want)

Apply the listed clustering methods to the dataset:

K means, 
DBSCAN,
Hierarchical clustering. 

You can refer to of the codes from  the follwing link below. 
https://www.kaggle.com/karthik3890/text-clustering

In [28]:
#Write your code here.
from google.colab import files
uploaded = files.upload()
import pandas as pd
df = pd.read_csv("Amazon_Unlocked_Mobile.csv")
df

Saving Amazon_Unlocked_Mobile.csv to Amazon_Unlocked_Mobile (1).csv

                                            Product Name  ... Review Votes
0      "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          1.0
1      "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
2      "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
3      "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
4      "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
...                                                  ...  ...          ...
14112    Apple iPhone 4S 32GB (Black) Unlocked - Verizon  ...          0.0
14113    Apple iPhone 4S 32GB (Black) Unlocked - Verizon  ...          0.0
14114    Apple iPhone 4S 32GB (Black) Unlocked - Verizon  ...          0.0
14115    Apple iPhone 4S 32GB (Black) Unlocked - Verizon  ...          0.0
14116    Apple iPhone 4S 32GB (Black) Unlocked - Verizon  ...          NaN

[14117 rows x 6 columns]

In [29]:
#Data Cleaning
df = df[df['Reviews'].notnull()].head(5000)
#Removing punctuatiions
df['punct'] = df['Reviews'].str.replace('[^\w\s].#','')
from nltk.corpus import stopwords
import nltk 
nltk.download('wordnet')

nltk.download('stopwords')
stop = stopwords.words('english')
#stopwords removal
df['stopwords'] =df['punct'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
#Removing numercis
df['numerics']=df['stopwords'].str.replace('[0-9]','')
#to lowercase
df['lowercase'] =df['numerics'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['stemming']=df['lowercase'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
#Lemmatizing
from textblob import Word
df['clean'] = df['stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['clean']

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0       i feel lucki found use (phone u & use hard all...
1       nice phone, nice grade pantach revue. veri cle...
2                                               veri plea
3         it work good goe slow sometim good phone i love
4       great phone replac lost phone. the thing volum...
                              ...
4995    thi review product may find everywher www worl...
4996    the product good structure. i'm still use braz...
4997    the iphon fine. it work good condit one major ...
4998                           screen crack realli quick.
4999    will never buy anyth again. i receiv work. nei...
Name: clean, Length: 5000, dtype: object

In [31]:

from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()
tfidf = vector.fit_transform(df['clean'].values)
tfidf.shape

(5000, 7567)

In [32]:
#kmodel
from sklearn.cluster import KMeans
#Defining the k means model
kmodel = KMeans(n_clusters = 5, n_jobs = -1,random_state=99)
kmodel.fit(tfidf)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=-1, precompute_distances='auto',
       random_state=99, tol=0.0001, verbose=0)

In [33]:
#Create the kmodel labels
labels_kmeans = kmodel.labels_
#Defining the cluster center
cluster_center_kmeans=kmodel.cluster_centers_

terms = vector.get_feature_names()
terms[1:5]
#Dataframe with cluster info
df['Label'] = kmodel.labels_
df

                                           Product Name  ... Label
0     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
1     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
2     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
3     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     2
4     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
...                                                 ...  ...   ...
4995     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4996     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4997     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4998     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4999     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0

[5000 rows x 13 columns]

In [35]:
#Counting the cluster
df.groupby(['Label'])['clean'].count()

Label
0    4211
1     259
2     198
3     213
4     119
Name: clean, dtype: int64

In [36]:
print("Top terms per cluster:")
#Defing the centroid
centroids = kmodel.cluster_centers_.argsort()[:, ::-1]
#Creating the loop for finding the top words
for i in range(5):
    print("Cluster %d:" % i, end='')
    for ind in centroids[i, :5]:
        print(' %s' % terms[ind], end='')
        print()

Top terms per cluster:
Cluster 0: phone
 it
 work
 the
 good
Cluster 1: great
 work
 phone
 product
 price
Cluster 2: good
 veri
 phone
 it
 product
Cluster 3: love
 it
 phone
 great
 daughter
Cluster 4: excel
 product
 recommend
 seller
 phone

In [37]:
from sklearn.cluster import DBSCAN
points = 2 * 100
def lower_b(nums, targ): 
    l, r = 0, len(nums) - 1
    while l <= r: 
        mid = int(l + (r - l) / 2)
        if nums[mid] >= targ:
            r = mid - 1
        else:
            l = mid + 1
    return l

In [38]:
def com_200th_near_tneigh(x, data): 
    dists = []
    for val in data:
        dist = np.sum((x - val) **2 ) 
        if(len(dists) == 200 and dists[199] > dist): 
            l = int(lower_b(dists, dist)) 
            if l < 200 and l >= 0 and dists[l] > dist:
                dists[l] = dist
        else:
            dists.append(dist)
            dists.sort()
    
    return dists[199]

In [39]:
import numpy as np
sent_vectors = []; 
for sent in df['Reviews']: 
    sent_vec = np.zeros(100) 
    cnt_words =0; 
    for word in sent: 
        try:
            vec = w2v_model.wv[word]
            sent_vec += vec
            cnt_words += 1
        except:
            pass
    sent_vec /= cnt_words
    sent_vectors.append(sent_vec)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in true_divide
  del sys.path[0]

In [40]:
sent_vectors = np.array(sent_vectors)
sent_vectors = np.nan_to_num(sent_vectors)
sent_vectors.shape

(5000, 100)

In [41]:
points = 2 * 100
model = DBSCAN(eps = 1, min_samples = points, n_jobs=-1)
model.fit(sent_vectors)
df['AVG Clus Label'] = model.labels_
df

                                           Product Name  ... AVG Clus Label
0     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
1     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
2     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
3     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
4     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
...                                                 ...  ...            ...
4995     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4996     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4997     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4998     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4999     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0

[5000 rows x 14 columns]

In [42]:

from sklearn.cluster import AgglomerativeClustering
#Defining the model
cluster = AgglomerativeClustering(n_clusters=7, affinity='euclidean', linkage='ward')  
Agg=cluster.fit_predict(sent_vectors)

In [46]:
# Providing Labels to cluster at each point
aggdfa = df
aggdfa['AVG Clus Label'] = cluster.labels_
aggdfa.head(2)

                                        Product Name  ... AVG Clus Label
0  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
1  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0

[2 rows x 14 columns]

In [47]:
aggdfa.groupby(['Label'])['clean'].count()

Label
0    4211
1     259
2     198
3     213
4     119
Name: clean, dtype: int64

In [48]:
for i in range(5):
    print("2 reviews of assigned to cluster ", i)
    print("-" * 70)
    print(aggdfa.iloc[aggdfa.groupby(['Label']).groups[i][0]]['clean'])
    print('\n')
    print(aggdfa.iloc[aggdfa.groupby(['Label']).groups[i][1]]['clean'])
    print('\n')
    print("_" * 70)
#printing reviews to cluster

2 reviews of assigned to cluster  0
----------------------------------------------------------------------
i feel lucki found use (phone u & use hard all), phone line someon upgrad sold one. my son like old one final fell apart .+ year want upgrade!! thank seller, realli appreci & honesti re: said use phone.i recommend seller highli & would again!!


nice phone, nice grade pantach revue. veri clean set easi set up. never android phone fantast say least. perfect size surf social media. great phone samsung


______________________________________________________________________
2 reviews of assigned to cluster  1
----------------------------------------------------------------------
phone good littl slow phone old great phone temporari right now. thank great deal


phone work great. no problem


______________________________________________________________________
2 reviews of assigned to cluster  2
----------------------------------------------------------------------
it work good goe slow sometim good phone i love


good condit work good


______________________________________________________________________
2 reviews of assigned to cluster  3
----------------------------------------------------------------------
i like phone i bought mom love


i love it!


______________________________________________________________________
2 reviews of assigned to cluster  4
----------------------------------------------------------------------
excel product perfect condit


excel


______________________________________________________________________

In one paragraph, please compare K means, DBSCAN and Hierarchical clustering.

In [50]:
#You can write you answer here. (No code needed)
'''The elbow approach is used in K-means clustering to find the optimal number of clusters, although no number of clusters is required in DBSCAN.
When compared to the DBSCAN model, K indicates that clustering is easier.
When there are a lot of outliers in a dataset, DBSCAN is utilized. Variables such as Minimum points and others are required by DBSCAN.
When it comes to the hierarchical model, it generates noise, which is ineffective when dealing with large datasets.
K Means clustering can handle large data better than hierarchical clustering. 
This is due to the linear temporal complexity of K Means. When it comes to hierarchical clustering, the equation is quadratic.'''

'The elbow approach is used in K-means clustering to find the optimal number of clusters, although no number of clusters is required in DBSCAN.\nWhen compared to the DBSCAN model, K indicates that clustering is easier.\nWhen there are a lot of outliers in a dataset, DBSCAN is utilized. Variables such as Minimum points and others are required by DBSCAN.\nWhen it comes to the hierarchical model, it generates noise, which is ineffective when dealing with large datasets.\nK Means clustering can handle large data better than hierarchical clustering. \nThis is due to the linear temporal complexity of K Means. When it comes to hierarchical clustering, the equation is quadratic.'